*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-family: 'Helvetica', sans-serif;
    text-decoration: none;

}
nav{
    display: flex;
    background-color:#2C3E50;
    color:  #ECF0F1;
    position: fixed;
    z-index: 6;
    width: 100%;
    
    border-radius: 10px;
    height:70px;
    justify-content: center;
}
nav ul{
    display: flex;
    list-style: none;
    justify-content: center;
}
nav li, nav  a{
    
    color:  aliceblue;
    padding: 20px;

}
.navbar li:hover,a:hover{
    color: #18BC9C;
    transform: translateY(1px);
}
nav a:active{
    color: #18BC9C;
}
#me{
    font-weight: bolder;
}
.container{
    background-color: #ECF0F1;
    display: flex;
    height: 700px;
    color: #2C3E50;
}
#myimage{
  margin-left: 100px;
  margin-top: 180px;
}
#content{
    width: 900px;
    margin-left: 80px;
    margin-top: 180px;
}
#icons{
    font-size: 40px;
}
p{
    line-height: 40px;
}
img{
    border:2px solid #18bc9b85;
    width:100%;
    height:300px;
    object-fit:cover; 
    border-radius: 150px;
}
.container1{
    background-color: #FFFFFF ;
    color: #2C3E50 ;
    height: 550px;
    display: flex;
    padding: 30px;
}
.skills ,.experience{
    margin-left: 80px;
    line-height: 40px;
}
h1{
    font-size: 40px;
    color: #18BC9C;
}
h2{
    font-size: 27px;
    color:  #18BC9C;;
}
.container2{
    background-color:#ECF0F1;
    color: #2C3E50  ;
    height: auto;
    padding: 50px;
    padding-left: 100px ;
}
.container2 ul {
    list-style-type:none;
    line-height: 40px;
}
.projects{
    /* margin-left: 80px; */
    line-height: 40px;
    width: 550px;
    display: flex;
}
#line{

    border:1px solid #2C3E50 ;
    width: 550px;
    margin: 20px;
    margin-left: 0;
}
button{
    background-color: #18BC9C;
    padding: 5px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 10px;
    border: none;
}
button a{
    color:white;
    font-size: 15px;
}
.p2{
    margin-left: 80px;
}
.projects button:hover
{
    
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}
.projects a:hover{
    color: #FFFFFF;
    transform: none;
}
footer{
    background-color: #2C3E50;
    color: #FFFFFF;
    text-align: center;
    
}
foooter .footer-nav
{
    text-decoration: none;
    color: #ECF0F1;
}
.container3{
    background-color:#FFFFFF;
    color: #2C3E50  ;
    height: auto;
    padding: 50px;
    padding-left: 100px ;
}